<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="contact.css">
</head>
<body>

    <header class="header">
        <div class="header_container">
            <div><a href="/"><img src="./Images/logo-2.png" alt="logo" class="logo"><a>
            </div>

            <nav class="nav_links">
                <ul>
                    <li><a href="hebergement">Hébergement</a></li>
                    <li><a href="#">Aux Alentours</a></li>
                    <li><a href="#">Tarifs</a></li>
                    <li><a class="contact" href="contact">Contact</a></li>
                </ul>
            </nav>

            <div class="icons">
                <div>
                    <img src="../Images/search.png" alt="" class="search">
                </div>

                <div class="dropdown">
                    <img class="drapeau" src="./Images/france.png" alt="Drapeau_langue">
                    <img class=" dropbtn caret_down" src="./Images/caret-down.png" alt="">


                </div>
            </div>
    </header>





    <form action="" method="get" class="form-contact">
        <div class="form-contact">
          <label for="name">Votre Nom</label>
          <input type="text" name="name" id="name" required>
        </div>
        <div class="form-contact">
            <label for="firstname">Votre Prénom</label>
            <input type="text" name="name" id="firstname" required>
          </div>
        <div class="form-contact">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" required>
        </div>
        <div class="form-contact">
          <input type="submit" value="Envoyez">
        </div>
      </form>
</body>
</html>