<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="contact.css">
</head>

<body>

    <header class="header">
        <div class="header_container">
            <div><a href="/"><img src="./Images/logo-2.png" alt="logo" class="logo"><a>
            </div>

            <nav class="nav_links">
                <ul>
                    <li><a href="hebergement">Hébergement</a></li>
                    <li><a href="#">Aux Alentours</a></li>
                    <li><a href="#">Tarifs</a></li>
                    <li><a class="contact" href="contact">Contact</a></li>
                </ul>
            </nav>

            <div class="icons">
                <div>
                    <img src="../Images/search.png" alt="" class="search">
                </div>

                <div class="dropdown">
                    <img class="drapeau" src="./Images/france.png" alt="Drapeau_langue">
                    <img class=" dropbtn caret_down" src="./Images/caret-down.png" alt="">


                </div>
            </div>
    </header>

    <main>
        <h1 class="contacter_nous">Contacter-nous</h1>
        <form action="/" method="post">
            <fieldset>
                <legend>Patronyme</legend>
                <div>
                    <label for="lastname">Nom</label>
                    <input type="text" id="lastname" name="lastname" required>
                </div>

                <div>
                    <label for="firstname">Prénom</label>
                    <input type="text" id="firstname" name="firstname" required>
                </div>
            </fieldset>

            <fieldset>
                <legend>Adresse</legend>
                <div>
                    <label for="street">N° et Libellé de voie</label>
                    <input type="text" id="street" name="street" required>
                </div>

                <div>
                    <label for="zipCode">Code Postal</label>
                    <input type="text" id="zipCode" name="zipCode" maxlength="5" required>
                </div>

                <div>
                    <label for="city">Ville</label>
                    <input type="text" id="city" name="city" required>
                </div>
            </fieldset>

            <fieldset>
                <legend>Votre message</legend>
                <div>
                    <label for="birthdate">Date de naissance</label>
                    <input type="date" id="birthdate" name="birthdate" required>
                </div>
                <div>
                    <label for="description">Descriptif :</label>
                    <textarea placeholder="Votre message..."name="description" id="description" cols="60" rows="10"></textarea>
                </div>
            </fieldset>

           

            <button>Envoyer</button>
        </form>
    </main>






</body>

</html>